{% extends 'base.html.twig' %}

{% block title %}Edit CAV{% endblock %}

{% block body %}
    <h1>Edit CAV</h1>

    {{ include('cav/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('c_a_v_index') }}">back to list</a>

    {{ include('cav/_delete_form.html.twig') }}
{% endblock %}
