
<td style="width: 40%;">{{ form_widget(formactivite.ninAutact, {'attr': {'autocomplete': 'off'}} ) }}</td>
<td style="width: 60%;">{{ form_widget(formactivite.refNaema) }}</td>
<td>{{ form_widget(formactivite.statActivprincipale)}}</td>

<td>
	<button type="button" class="btn  btn-delete">
		<i class="fas fa-times-circle"></i>
	</button>
</td>
