{% extends 'ninea.html.twig' %}

{% block title %}Edit NiFormejuridique{% endblock %}

{% block body %}
  <div class="box mt-lg-5">
	<div class="box-header">
		<ul class="nav nav-tabs nav-tabs-left">
			<li class="active">
				<a href="#list" data-toggle="tab"><i class="fas fa-list"></i> 
                  
                   Nouveau forme unité
				</a>
			</li>

          

		</ul>
	</div>

	<div class="box-content padded">

		<div class="tab-content">            
			<div class="example-wrapper ">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                        <div class="card-body">
  

                        {{ include('ni_formejuridique/_form.html.twig', {'button_label': 'Update'}) }}

                      <a href="{{ path('app_ni_formejuridique_index') }}">Liste forme juridique</a>

                        {{ include('ni_formejuridique/_delete_form.html.twig') }}
                                
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
								
		</div>
			
    </div>
</div>

   
{% endblock %}


