{% extends 'base.html.twig' %}

{% block title %}Edit Actionnaire{% endblock %}

{% block body %}
    <h1>Edit Actionnaire</h1>

    {{ include('actionnaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('actionnaire_index') }}">back to list</a>

    {{ include('actionnaire/_delete_form.html.twig') }}
{% endblock %}
