{% extends 'base.html.twig' %}

{% block title %}New NiDirigeant{% endblock %}

{% block body %}
    <h1>Create new NiDirigeant</h1>

    {{ include('ni_dirigeant/_form.html.twig') }}

    <a href="{{ path('app_ni_dirigeant_index') }}">back to list</a>
{% endblock %}
