<form method="post" action="{{ path('s_y_s_c_o_a_delete', {'id': s_y_s_c_o_a.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ s_y_s_c_o_a.id) }}">
    <button class="btn">Delete</button>
</form>
