<form method="post" action="{{ path('app_ni_formeunite_delete', {'id': ni_formeunite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ni_formeunite.id) }}">
    <button class="btn">Delete</button>
</form>
