<td>{{ form_widget(form.designation) }}</td>
<td> {{ form_widget(form.nationality) }}</td>
<td>{{ form_widget(form.capital) }}</td>
<td>{{ form_widget(form.pourcentage) }}</td>

<td><button type="button" class="btn  btn-removeFiliales"><i class="fas fa-times-circle"></i></button></td>
