<td>{{ form_widget(form.nom) }}</td>
<td> {{ form_widget(form.prenom) }}</td>
<td>{{ form_widget(form.position) }}</td>
<td>{{ form_widget(form.addresse) }}</td>

<td><button type="button" class="btn  btn-removeMembreConseil"><i class="fas fa-times-circle"></i></button></td>
