{% extends 'base.html.twig' %}

{% block title %}Edit RefNomenclatureRc{% endblock %}

{% block body %}
    <h1>Edit RefNomenclatureRc</h1>

    {{ include('ref_nomenclature_rc/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ref_nomenclature_rc_index') }}">back to list</a>

    {{ include('ref_nomenclature_rc/_delete_form.html.twig') }}
{% endblock %}
