{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<div class="row" >
    <div class="col-lg-12" >
        <div class="card" style="-webkit-box-shadow:0 1rem 3rem rgba(0,0,0,.175);box-shadow:0 1rem 3rem rgba(0,0,0,.175)">
            <div class="card-body">
                <h4 class="card-title mb-4">Accueil</h4>
                <div class="table-responsive">
                    
                </div>
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
