<form method="post" action="{{ path('app_etat_des_stocks_smt_delete', {'id': etat_des_stocks_smt.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etat_des_stocks_smt.id) }}">
    <button class="btn">Delete</button>
</form>
