{% extends 'base.html.twig' %}

{% block title %}Edit AchatProduction{% endblock %}

{% block body %}
    <h1>Edit AchatProduction</h1>

    {{ include('achat_production/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('achat_production_index') }}">back to list</a>

    {{ include('achat_production/_delete_form.html.twig') }}
{% endblock %}
