<form method="post" action="{{ path('citi_delete', {'id': citi.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ citi.id) }}">
    <button class="btn">Delete</button>
</form>
