<form method="post" action="{{ path('app_journal_creances_impayees_smt_delete', {'id': journal_creances_impayees_smt.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ journal_creances_impayees_smt.id) }}">
    <button class="btn">Delete</button>
</form>
