
{# {% block body %} #}
<div class="card" style=" margin: 0%;padding: 0%;-webkit-box-shadow:0 1rem 3rem rgba(0,0,0,.175);box-shadow:0 1rem 3rem rgba(0,0,0,.175)">
    <div class="card-body " style="margin: 0%;padding: 0%;">
        <div class="row">
        <div class="col-xl-12"> 
        <form method="post" action="#">
        {# <form method="post" action="{{path('bilan_new')}}"> #}
        <table class="table table-bordered mt-5">
                 <tr>
                  <td>Numéro d'identification :<span style="color:red">*</span>
                      <input type="text"  class="form-control form-control-sm" name="codecuci" id="idcuci"></td>
                  <td>Designation entité :<span style="color:red">*</span>
                      <input type="text" disabled class="form-control form-control-sm" name="" id="denomination"></td>
                  <td>Année financière :<span style="color:red">*</span>
                      <input type="text" class="form-control form-control-sm" name="annee" id="annee"></td>
                 </tr>
        </table>
         
             <div class="card">
                 <div class="card-body">

                     <div class="d-flex flex-wrap gap-2 justify-content-center">
                         <button type="button" class="btn btn-secondary waves-effect waves-light">
                             <i class="bx bx-error font-size-16 align-middle me-2"></i> Effacer les données
                         </button>
                         <button type="submit" class="btn btn-success waves-effect waves-light">
                             <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Sauvegarder
                         </button>
                         <button type="button" class="btn btn-dark bt-soft waves-effect waves-light">
                             <i class="bx bx-block font-size-16 align-middle me-2"></i> Valider la saisie
                         </button>
                     </div>
                 </div>
             </div>
         </div>

         <div class="col-12">
            <div class="table-responsive">
                <table name="form2" id="form2" class="table table-striped|sm|hover|inverse table-inverse table-responsive mb-0">
                    <thead>
                        <tr class="bg-dark bg-soft opacity-65">
                            <th scope="col" colspan="2" class="text-center ">
                                REF
                            </th>
                            <th scope="col" colspan="3" class="text-center">
                              Libelle<br>
                            </th>
                            <th colspan="4" scope="col" class="text-center">
                              Exercice au 31/12/<span class="text-info">2019</span> 
                            </th>
                            <th colspan="3" scope="col" class="text-center">
                              Exercice au 31/12/<span class="text-info">2018</span>
                            </th>
                          </tr>
                        <tr class="bg-dark bg-soft opacity-80">
                            <th scope="col" colspan="5" class="text-center">
                                
                            </th>
                            <th colspan="1" scope="col" class="text-center">
                              Brut
                            </th>
                            <th colspan="3" scope="col" class="text-center">
                              Ammortissement
                            </th>
                            <th colspan="1" scope="col" class="text-center">
                              NETN
                            </th>
                            <th colspan="2" scope="col" class="text-center">
                              NETN-1
                            </th>
                          </tr>
                    </thead>

                    <!-- debut tbody inputs -->
                    <tbody id="tbody">
                
                    
                    
                    </tbody>
                    <!-- end tbody -->
                </table>
            </div>
         </div>

         </div>
         <input type="hidden" name="type" value="1" >
          <button type="submit" class="btn btn-success waves-effect waves-light">
                             <i class="bx bx-check-double font-size-16 align-middle me-2"></i> Sauvegarder
                         </button>
         </form>

    </div>
</div>



    
{# {% endblock %} #}



{% block javascript %}

<script>

    $('#idcuci').change(function(){
            
            let route="{{path('nineaNum')}}"+"/"+ $('#idcuci').val();
            $.ajax({
                type: 'GET',
                url : route,
                dataType : "json",
                success: function(data){
                    
                    let denomination=document.getElementById("denomination");
                    denomination.value=data;

                  
                } ,
                error : function(error){
                    console.log(error);
                }
            })
    });




</script>





{% endblock %}

