<form method="post" action="{{ path('app_ni_responsable_delete', {'id': ni_responsable.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ni_responsable.id) }}">
    <button class="btn">Delete</button>
</form>
