<form method="post" action="{{ path('immo_brut_delete', {'id': immo_brut.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ immo_brut.id) }}">
    <button class="btn">Delete</button>
</form>
