<form method="post" action="{{ path('app_dettes_creances_smt_delete', {'id': dettes_creances_smt.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dettes_creances_smt.id) }}">
    <button class="btn">Delete</button>
</form>
