{% extends 'base.html.twig' %}

{% block title %}New SuiviMaterielMobilierCaution{% endblock %}

{% block body %}
    <h1>Create new SuiviMaterielMobilierCaution</h1>

    {{ include('suivi_materiel_mobilier_caution/_form.html.twig') }}

    <a href="{{ path('app_suivi_materiel_mobilier_caution_index') }}">back to list</a>
{% endblock %}
