{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h6 class="mb-sm-0 font-size-18"></h6>
          

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                   
                </ol>
            </div>
            
          </div>
        </div>
      </div>
      {% for message in app.session.flashbag.get('message')%}
               <div class="alert alert-success alert-dismissible fade show" role="alert">
                                               {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div> 
      
              {% endfor%}
      {% include "user/_profilesettings.html.twig" %}
<!-- end page title -->



{% endblock %}

{% block javascript %}

<script src="{{ asset('admin/dist/assets/js/pages/alerts.init.js')}}"></script>

{% endblock %}